node_modules
.husky
.git
.vscode

.umi
.umi-production
.umi*
.vs/
**/.DS_Store
*.sublime-workspace
*.swp
*.swo

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json

# testing
/coverage
/storybook-static